* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-container{
    background-color: black;
    max-width: 1400px;
}
.flex-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center   ;
  gap: 30px;
  margin-top: +20px;
}

.flex-item {

  border: 1px solid rgba(0, 0, 0, 0.11);

  background-color: rgb(29, 28, 28);
  
}

.img {
  width: 300px;
  height: 450px;
  cursor: pointer;
  margin-top: -45px;
}

.header {
    
  display: block;
  color: #a3765d;
  border-bottom: 2px solid #a3765d;
  padding-bottom: +20px;
  width: fit-content;
  cursor: pointer;
  padding-top: +20px;
  margin-left: +80px;
}
.title {
  color: white;
  border: 2px solid #a3765d;
  border-radius: 10px;
  position: relative;
  top: 10px;
  background-color: #a3765d;
  padding: 10px;
  width: fit-content;
  font-size:18px;
}
.name {
  color: white;
  text-align: center;
  font-size: 20px;
}
 .iconplay {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 150px;
  right: 90px;
  margin: -25px 0 0 -110px;
  border-radius: 50%;
  opacity: 0;
} 
.iconplay:hover{
    opacity: 1;
}