<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PraPhone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="head-home-container">
    <div class="head-home">
        <h1 class="d-flex justify-content-center">Danh sách sản phẩm</h1>
        <form th:action="@{/searchProduct.html}" method="get" class="d-flex justify-content-center mt-3">
            <label>
                <input type="text" name="keyword" placeholder="Tìm kiếm...">
            </label>
            <button type="submit" class="btn btn-primary ms-2">Tìm kiếm</button>
        </form>
    </div>
</div>

<div class="product-list">
    <div class="product-information-container">
        <div th:each="product : ${products}" class="product-information">
            <a th:href="@{/product/{id} (id = ${product.getId()}-1)}" class="text-decoration-none text-dark">

                <div th:text="${product.getName()}" class="product-name d-flex justify-content-center">
                </div>
                <div class="product-image">
                    <img width="200px" th:src="${product.getThumbnail()}" alt="">
                </div>
                <div class="price">
                    <div class="product-price text-decoration-line-through">
                        <th:block th:text="${product.getPrice()}" ></th:block> <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                    <div class="product-priceDiscount flex-box  text-danger">
                        <th:block th:text="${product.getPriceDiscount()}" ></th:block> <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                </div>
                <div  class="product-rating">
                    <th:block th:text="${product.getRating()}"></th:block><i class="fa-solid fa-star text-warning"></i>
                </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>