table,
thead,
tbody,
tr,
th,
td {
  border: 1px solid #999999;
}
table{
    border-collapse: collapse;
}
caption{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;

}
th,td{
    padding: 8px 16px;
}
tbody tr:nth-child(2n+1){
    background-color: cadetblue;
}
